<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_1_id %><br />
    <%= f.select :team_1_id, options_from_collection_for_select(@teams, 'id', 'name'), { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :team_2_id %><br />
    <%= f.select :team_2_id, options_from_collection_for_select(@teams, 'id', 'name'), { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :began_on %><br />
    <%= f.date_select :began_on %>
  </div>
  <div class="field">
    <%= f.label :goals_1 %><br />
    <%= f.number_field :goals_1 %>
  </div>
  <div class="field">
    <%= f.label :goals_2 %><br />
    <%= f.number_field :goals_2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
