<h1>Listing matches</h1>

<table>
  <tr>
    <th>League</th>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Began on</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.league.name %></td>
    <td><%= match.team_1.name %></td>
    <td><%= match.team_2.name %></td>
    <td><%= match.began_on %></td>
    <td><%= match.rating %></td>
  </tr>
<% end %>
</table>
